<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DailyDo's</title>
<link rel="shortcut icon" href="../static/dd_logo.jpg" />
<script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.5/jquery.min.js"></script>

<image height="100" src="http://i.imgur.com/IlEYgAo.png"></image>
<h3>Daily Dos is an online organizer site that allows you to neatly store your unfinished tasks.
<br>To use the site, first make an account with a valid e-mail address. This will be the e-mail<br>
address that you will use to manage your tasks. After creating your account, login at the<br>
login page, and you will see your Task Manager. The Task Manager has a list of your
<br>tasks, and an option to remove certain tasks. In order to add tasks to your Task Manager,<br>
send an e-mail to group@stuy.edu, with the subject line being the task you want to add.
<style>


body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; background-color:#ccebff; 
}
</head>

</html>
